<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <img src="{{ 'profile/' + data.description.avatar }}">
    <a href="/setting">Setting</a>
  </body>
</html>
