<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ data.name }}</title>
  </head>
  <body>

    <h1>{{ data.username }}</h1>
    {% if  data.description.avatar %}
    <img src="{{ 'profile/' + data.description.avatar }}">
    {% else %}
    <img src="default/man.jpg">
    {% endif %}
    <form action="/setting">
      <input type="submit" value="SETTING">
    </form>
    <form action="/logout" method="post">
      <input type="submit" value="LOGOUT">
    </form>
  </body>
</html>
