<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Failed to sign up</title>
  </head>
  <body>
    <p>Sorry, username: {{ username}} or email: {{ email }} is taken.</p>
  </body>
</html>
