<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="styles/master.css">
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        margin: 200px 0;
      }
    </style>
  </head>
  <body>
    <form class="login-form form" method="post" action="/forgot">
      <input type="text" name="username" placeholder="Username: ">
      <input type="submit" value="Send email">
    </form>
  </body>
</html>
