<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Facebook</title>
    <link rel="stylesheet" href="styles/master.css">
    <link rel="stylesheet" href="styles/sweetalert.css">
    <script src="script/warn.js"></script>
    <script src="script/jquery.js"></script>
    <script src="script/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form" method="post" action="/" name="register">
          <input type="text" name="name" placeholder="Name: " maxlength="25" required>
          <input type="text" name="username" placeholder="Username: " maxlength="30" required>
          <input type="email" name="email" placeholder="Email: " maxlength="100" required>
          <input type="password" name="password" placeholder="Password: " maxlength="60" required>
          <input type="password" name="repassword" placeholder="Re-password: " maxlength="60" required>
          <input type="submit" value="Register" id="reg">
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="post" action="/login">
          <input type="text" name="username" placeholder="Username: ">
          <input type="password" name="password" placeholder="Password: ">
          <input type="submit" value="Login">
          <p class="message">Not registered? <a href="#">Create an account</a></p>
          <p class="message"><a href="http://localhost:8080/forgot">Forgot Password?</a></p>
        </form>
      </div>
    </div>
    {% if status == 0 %}
      <script>status0();</script>
    {% elif status == 1 %}
    <script>status1();</script>
    {% elif status == 2 %}
    <script>status2();</script>
    {% elif status == 3 %}
    <script>status3();</script>
    {% elif status == 4 %}
    <script>status4();</script>
    {% elif status == 5 %}
    <script>status5();</script>
    {% elif status == 6 %}
    <script>status6();</script>
    {% elif status == 7 %}
    <script>status7();</script>
    {% elif status == 8 %}
    <script>status8();</script>
    {% endif %}
    <script>
      $('.message a').click(function(){
         $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
    </script>
    <script src="script/register.js"></script>
  </body>
</html>
