<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Facebook</title>
    <link rel="stylesheet" href="styles/master.css">
  </head>
  <body>
    <header>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username: ">
        <input type="password" name="password" placeholder="Password: ">
        <input type="submit" value="Login">
      </form>
    </header>
    <main>
      <form action="/" method="post"id="register" onsubmit="return lastCheck()">
        <input type="text" name="name" placeholder="Name: " maxlength="25" required>
        <input type="text" name="username" placeholder="Username: " maxlength="30" required>
        <input type="email" name="email" placeholder="Email: " maxlength="100" required>
        <input type="password" name="password" placeholder="Password: " maxlength="60" required>
        <input type="password" name="repassword" placeholder="Re-password: " maxlength="60" required>
        Show Email<input type="checkbox" name="showemail" value="true">
        <input type="submit" value="Register" id="reg">
      </form>
    </main>
    <script src="script/register.js"></script>
  </body>
</html>
