<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Setting</title>
    <link rel="stylesheet" href="styles/setting.css">
  </head>
  <body>
    <div id="mainsetting">
      <p style="display: none" id="us">{{ data.username }}</p>
      <p style="display: none" id="em">{{ data.email }}</p>
      <fieldset>
        <legend>Main setting</legend>
        <form action="/setting" name="setting" method="post">
          <input type="text" name="name" placeholder="Name: " value="{{ data.name }}">
          <input type="text" name="username" placeholder="Username: " value="{{ data.username }}">
          <input type="email" name="email" placeholder="Email: " value="{{ data.email }}">
          {% if data.description.sex == true %}
          <input type="radio" name="sex" value="male" checked> Male
          <input type="radio" name="sex" value="female"> Female
          {% elif data.description.sex == false %}
          <input type="radio" name="sex" value="male"> Male
          <input type="radio" name="sex" value="female" checked> Female
          {% else %}
          <input type="radio" name="sex" value="male"> Male
          <input type="radio" name="sex" value="female"> Female
          {% endif %}
          <input type="text" name="about" placeholder="Description: " value="{{ data.description.about }}">
          <input type="address" name="address" placeholder="Address: " value="{{ data.description.address }}">
          <input type="link" name="link" placeholder="Link: " value="{{ data.description.link }}">
          <input type="Submit" value="Submit changes">
        </form>
      </fieldset>
    </div>
    <div id="passwordsetting">
      <fieldset>
        <legend>Password setting</legend>
        <form action="/changepass" method="post">
          <input type="password" name="oldpassword" placeholder="Old password: ">
          <input type="password" name="newpassword" placeholder="New Password: ">
          <input type="password" name="repassword" placeholder="Re-Password: ">
          <input type="submit">
        </form>
      </fieldset>
    </div>
    <script src="script/setting.js"></script>
  </body>
</html>
