<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Setting</title>
    <link rel="stylesheet" href="styles/setting.css">
  </head>
  <body>
    <div id="mainsetting">
      <p style="display: none" id="us">{{ data.username }}</p>
      <p style="display: none" id="em">{{ data.email }}</p>
      <fieldset>
        <legend>Main setting</legend>
        <form action="/setting" name="setting" method="post" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Name: " value="{{ data.name }}">
          <input type="text" name="username" placeholder="Username: " value="{{ data.username }}">
          <input type="email" name="email" placeholder="Email: " value="{{ data.email }}">
          {% if data.description.sex == true %}
          <select name="sex">
            <option value="male" selected>Male</option>
            <option value="female">Female</option>
          </select>
          {% elif data.description.sex == false %}
          <select name="sex">
            <option value="male">Male</option>
            <option value="female" selected>Female</option>
          </select>
          {% else %}
          <select name="sex">
            <option selected><option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          {% endif %}
          {% if data.description.case == true %}
          <select name="case">
            <option value="married" selected>Married</option>
            <option value="single">Single</option>
          </select>
          {% elif data.description.case == false %}
          <select name="case">
            <option value="married">Married</option>
            <option value="single" selected>Single</option>
          </select>
          {% else %}
          <select name="case">
            <option selected><option>
            <option value="married">Married</option>
            <option value="single">Single</option>
          </select>
          {% endif %}
          <br>
          {% if data.showEmail == true %}
          Show email<input type="checkbox" name="showemail" value="true" checked>
          {% else %}
          Show email<input type="checkbox" name="showemail" value="true">
          {% endif %}
          <input type="text" name="about" placeholder="Description: " value="{{ data.description.about }}">
          <input type="address" name="address" placeholder="Address: " value="{{ data.description.address }}">
          <input type="link" name="link" placeholder="Link: " value="{{ data.description.link }}">
          <input type="file" name="avatar" value="Profile photo">
          <input type="Submit" value="Submit changes">
        </form>
      </fieldset>
    </div>
    <div id="passwordsetting">
      <fieldset>
        <legend>Password setting</legend>
        <form action="/changepass" method="post">
          <input type="password" name="oldpassword" placeholder="Old password: ">
          <input type="password" name="newpassword" placeholder="New Password: ">
          <input type="password" name="repassword" placeholder="Re-Password: ">
          <input type="submit">
        </form>
      </fieldset>
      <br><br>
      <form action="/delete" method="post">
        <input type="submit" name="del" value="Delete Account">
      </form>
    </div>
    <script src="script/setting.js"></script>
  </body>
</html>
