<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ data.name }}</title>
  </head>
  <body>
    {% include "findimage.njk" %}
    <br><br>
    {% include "follow.njk" %}
    <script src="../script/follow.js"></script>
  </body>
</html>
