<form>
  <input type="submit" name="tab" value="following">
  <span id="count-following">{{ data.following | length }}</span>
  <input type="submit" name="tab" value="follower">
  <span id="count-follower">{{ data.follower | length }}</span><br>
  <input type="hidden" name="page" value="1">
</form>
<script>
  const username = "{{ data.username }}";
  const watcher = "{{ self }}";
</script>
{% if self == url %}
<p>Yourself</p>
{% elif isFollowed %}
<input type="submit" id="fol" value="UNFOLLOW">
<script src="../script/follow.js"></script>
{% else %}
<input type="submit" id="fol" value="FOLLOW">
{% endif %}
<script src="/script/follow.js"></script>
