<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ data.name }}</title>
    <link rel="stylesheet" href="/styles/post.css">
  </head>
  <body>
    {% include "findimage.njk" %}
    <br><br>
    {% include "follow.njk" %}
    {% if list.length != 0 %}
    <div id="posts">
    {% for item in list %}
    <div class="onepost">
      <p id="title">Title: <a href="rootpath/u/{{ data.username }}/s/{{ item._id }}">{{ item.title }}</a></p>
      <p id="time">Time: {{ item.time }}</p>
      <p id="content">Content: {{ item.content }}</p>
      <p>Likes: <span>{{ item.likes | length }}</span></p>
      <p style="display: none;">{{ item._id }}</p>
      {% if item.like %}
      <input type="submit" value="DISLIKE">
      {% else %}
      <input type="submit" value="LIKE">
      {% endif %}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if lenPost > 10 %}
      <button enumerate="1" id="morepost">More...</button>
    {% endif %}
    <script src="/script/posts.js"></script>
  </body>
</html>
