* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 60px;
  background-color: #19215e;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
}
header input:not([type="submit"]) {
  margin: 0 10px;
  width: 85px;
  height: 30px;
  border: 2px solid #d6e6f2;
  border-radius: 3px;
  transition: width 1s ease;
}
header input:not([type="submit"]):focus {
  width: 200px;
  border: 2px solid #5ea3a6;
}
header input[type="submit"] {
  height: 35px;
  width: 100px;
  background-color: #e20049;
  border: 1px solid #f79f24;
}
header input[type="submit"]:hover {
  background-color: #e63870;
}
