* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 60px;
  background-color: #19215e;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
}
header input:not([type="submit"]) {
  margin: 0 10px;
  width: 85px;
  height: 30px;
  border: 2px solid #d6e6f2;
  border-radius: 3px;
  transition: width 1s ease;
}
header input:not([type="submit"]):focus {
  width: 200px;
  border: 2px solid #5ea3a6;
}
header input[type="submit"] {
  height: 35px;
  width: 100px;
  background-color: #e20049;
  border: 1px solid #f79f24;
}
header input[type="submit"]:hover {
  background-color: #e63870;
}
main input {
  display: block;
  margin: 25px;
}
main {
  padding: 45px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
div#register-content {
  padding: 40px;
  border-radius: 25px;
  border: 3px solid black;
  background-color: red;
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: black;
  color: white;
  text-align: center;
}
