<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact us</title>
  </head>
  <body>
    <input type="text" name="name" placeholder="Name: " id="name">
    <input type="email" name="email" placeholder="Email: " id="email">
    <textarea id="content"></textarea>
    <input type="submit" value="Send" id="send">
    <script src="/script/contact.js"></script>
  </body>
</html>
